.div-img-team{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.8rem;
    align-self: center;
}

@media only screen and (min-width: 770px){
    .div-img-team{
        width: 50%;
    }
}

@media only screen and (min-width: 1024px){
    .div-img-team{
        width: 60%;
    }
}