.input-text{
    width: 70%;
    border: none;
    background-color: transparent;
    outline: none;
}

.input-text::placeholder{
    color: var(--gray4);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}