.div-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width: 770px){
    .div-footer{
        justify-content: space-between;
        flex-direction: row;
    }
}